.quote {
    display: flex;
    padding: 8.333vw 8.333vw 4.167vw;
    gap: 5.556vw;
    @media screen and (max-width: 572px) {
        flex-direction: column;
        padding: 60px 18px 40px;
        width: 320px;
        box-sizing: border-box;
        margin: auto;
        gap: 40px;
        &::after {
            content: "";
            background-color: #E3E3E3;
            height: 1px;
            width: 100%;
            margin-top: 40px;
          }
        }
    &__image {
        width: 45.139vw;
        height: 31.944vw;
        object-fit: cover;
        @media screen and (max-width: 630px) {
            width: 284px;
            height: 204px;
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (max-width: 572px) {
            gap: 40px;
        }
    }
    &__quotation {
        margin: 0;
        padding: 0;
        font-size: 2.361vw;
        line-height: 3.056vw;
        font-weight: 600;
        @media screen and (max-width: 572px) {
            font-size: 23px;
            line-height: 29px;
        }
    }
    &__author {
        margin: 0;
        padding: 0;
        font-size: 1.389vw;
        line-height: 2.222vw;
        @media screen and (max-width: 572px) {
            font-size: 14px;
            line-height: 22px;
        }
    }
    &__occupation {
        margin: 0;
        padding-top: 6px;
        font-size: 1.111vw;
        line-height: 1.944vw;
        opacity: .7;
        @media screen and (max-width: 572px) {
            padding-top: 4px;
            font-size: 10px;
            line-height: 16px;
        }
    }
}